<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.INTERNET" />
<!-- Required on Android 13+ (API 33) to actually show a notification.
     FirebaseMessaging.requestPermission() prompts for this at runtime, but
     the manifest entry has to exist regardless for the prompt to work. -->
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:label="brikstax"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="brikstax" android:host="scan" />
                <data android:scheme="brikstax" android:host="lookup" />
                <data android:scheme="brikstax" android:host="set" />
            </intent-filter>
        </activity>

        <!-- Uses BrikStaxCropTheme (dark + yellow) instead of the generic
             AppCompat light theme, so the crop screen matches the app. -->
        <activity
           android:name="com.yalantis.ucrop.UCropActivity"
           android:screenOrientation="portrait"
           android:theme="@style/BrikStaxCropTheme"/>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <receiver android:name=".BrikStaxWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/brikstax_widget_info" />
        </receiver>

        <receiver android:name=".SetLookupWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/set_lookup_widget_info" />
        </receiver>

        <receiver android:name=".AvatarDenWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/avatar_den_widget_info" />
        </receiver>

        <receiver android:name=".RandomSetWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/random_set_widget_info" />
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>